:root {
    --primary-color: #64afb5;
    --secondary-color: #82aaac;
    --text-color: #4f4650;
    --background-color: #f1efec;
    --button-color: #f92200;
    --shadow-color: rgba(176, 196, 222, 0.5);
}






